.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que quede encima de otros elementos */
  padding: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  border-bottom: 8px solid #9F2241;
  padding-bottom: 5px;
  background-color: white;
}

.logo{
  width: 300px;
}


.nav {
  display: flex;
  gap: 1rem;
}

.nav button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav button:hover {
  background-color: white;
  color: #001f3f;
}
