body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.form-container {

  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.form-card input{
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 2rem;
  width: 90vw;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}


.form-card h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input,
form textarea, form{
  flex: 1;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
form select, form option{
  border-radius: 0.5rem;
  color: black;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}


#NumDVSC, #CP, #NumC, #date{
  flex: 0.25;
}

form input::placeholder,
form textarea::placeholder {
  color: black;
}

.input-row {
  display: flex;
  gap: 10px; /* Espacio entre los inputs */
  margin-bottom: 10px;
  height: 60px;
}

.input-row input {
  flex: 1; /* Para que se repartan el espacio por igual */
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  color: black;
}


button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #9f224188;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7c142e;
}
